html {
    background-color: gray;
}
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-background.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.jumbotron-hr { border-top:1px solid white } 

.hero-menu-link {
    margin-left: 2rem;
}

.menu-btn {
    margin-left: 2rem;
}