@font-face {
  font-family: 'kyobo';
  src: url('../ttf/KyoboHandwriting2020pdy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  font-family: "Times New Roman", "kyobo";
  width: 100%;
  background-color: rgb(255, 252, 244);
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-background.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
}
.hero-content-wrapper{
  padding-left: 10%;
}

.jumbotron-hr { border-top:1px solid rgb(255, 252, 244) } 

.hero-menu-link {
  text-decoration: none;
  margin-left: 2rem;
  color: rgb(255, 252, 244);
}

.menu-btn {
  margin-left: 2rem;
}

.section-margin {
  margin-top: 11rem;
  margin-bottom: 11rem;
}

.footer {
  background-color: rgb(73, 40, 0);
}

.section-subtitle p, .section-subtitle h2 {
  line-height:40px;
  margin:0;
}

/* modal */

.modal-dialog {
  height: 90vh;
}

.menu-image-container{
  text-align: center;
}

.left-menu-image {
  height: 90vh;
}

.right-menu-image {
  height: 90vh;
}